table {
    width: 100%;
  }
// .mat-column-name{
//   text-align: left;
// }
// .mat-column-Escola{
//   text-align: center;
// }
// .mat-column-Endereco{
//   text-align: right;
// }
.example-card{
  margin-bottom: 1.5rem;
}
.example-header-image {
  background-image: url('https://i.imgur.com/Iu1XOVi.png');
  background-size: cover;
}