mat-form-field{
    margin: 8px;
    width: 100%;
}
button{
    margin-right: 8px;
}
.endButtons{
    display: flex;}

.example-spacer {
    flex: 1 1 auto;
  }
  input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

